---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Johana Veas | Tech Project Leader
  </div>
  <div class="inline opacity-60 text-xs">
    Sitio construido con 
    <a href="https://astrofy-template.netlify.app/" target="_blank" class="hover:text-primary transition-all">Astrofy Template</a> 
    y mucho café 
</footer>
<style></style>
