---
interface Props {
	title: string;
	type?: 'info' | 'warning' | 'code';
}
const { title, type = 'info' } = Astro.props;

const styles = {
	info: "bg-primary/5 border-primary",
	warning: "bg-warning/5 border-warning",
	code: "bg-neutral border-white/10"
};
---

<div class={`p-6 my-8 rounded-2xl border-l-4 shadow-sm ${styles[type]}`}>
	<p class="font-bold mb-2 uppercase tracking-widest text-xs opacity-70">
		{title}
	</p>
	<div class="text-base-content/90 leading-relaxed">
		<slot /> </div>
</div>